<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c5d4023dee.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Vue-Boolzapp</title>
    <!-- Link Vue -->
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.2.1/build/global/luxon.min.js"></script>  
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>

    <!-- Id App -->
    <div id="app">
        <div class="container">
            <div class="row justify-content-center p-4 vh-100">
                <div class="col-4 bg-white">
                    <!-- User Option -->
                    <div class="row user-option">
                        <div class="avatar-image col-2">
                            <img src="img/avatar_io.jpg" alt="">
                        </div>
                        <div class="col-1 d-flex align-items-center fw-bold">
                            <span>Riccardo<span>
                        </div>
                        <div class="avatar-icon col-9 d-flex justify-content-end align-items-center">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>

                    <!-- Notifiche -->
                    <div class="row bg-primary-subtle p-3 align-items-center">
                        <div class="col-3 bell-slash">
                            <i class="fa-solid fa-bell-slash text-primary"></i>
                        </div>
                        <div class="col-9">
                            <p class="fs-6 fw-bold mb-0">Ricevi notifiche di nuovi messaggi</p>
                            <a href="#">Attiva notifiche Desktop</a>
                        </div>
                    </div>

                    <!-- Search Bar -->
                    <div class="row py-2">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                            <input 
                            type="text" 
                            class="form-control" 
                            placeholder="Search" 
                            aria-label="Search"
                            v-model="search"
                            >
                        </div>
                    </div>

                    <!-- Contact -->
                    <div class="chat-list">
                        <div v-for="(contact,i) in contacts" 
                        :class="{
                           'active': i === currentIndex,
                           'hidden': isHidden(contact),
                        }"
                        class="chat-list-user row border-bottom justify-content-center "
                        @click="chatSelection(i)"
                        >
                            <!-- Img profile -->
                            <div class="avatar-image col-2">
                                <img :src="contact.avatar" alt="">
                            </div>
                            <!-- User name -->
                            <div class="user-info col-9 p-2">
                                <div class="d-flex justify-content-between align-items-center py-1">
                                    <span class="fs-6 fw-bold">{{contact.name}}</span>
                                    <p class="hours mb-0">{{lastDate(contact)}}</p>
                                </div>
                                <p class="mb-0" >
                                    {{lastMessage(contact)}}
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Chat -->
                <div class="col-8 chat-bg d-flex flex-column">                
                    <!-- User Chat -->
                    <div class="user-bar row">
                        <div class="col-8 px-4">
                            <div class="row">
                                <div class="avatar-image col-2">
                                    <img :src="contacts[currentIndex].avatar" alt="">
                                </div>

                                <div class="col-auto d-flex align-items-center fw-bold">
                                    <span>{{contacts[currentIndex].name}}</span>
                                </div>
                            </div>
                        </div>

                        <!-- Option -->
                        <div class="avatar-icon col-4 d-flex justify-content-end align-items-center">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>

                    <!-- Message -->
                    <div class="chat-open flex-grow-1 p-4">
                        <div v-for="(mex,index) in contacts[currentIndex].messages" class="d-flex flex-column" >
                            <div :class="mex.status === 'received' ? 'received':'sent'" class="message">
                                {{mex.message}}
                                <span class="time">{{messageDate(index)}}</span>
                            </div>                            
                        </div>
                    </div>
                        
                    <!-- Write the text -->
                    <div class="toolbar row bg-white d-flex justify-content-center align-items-center p-2">
                        <div class="col-1">
                            <i class="fa-regular fa-face-smile"></i>
                        </div>

                        <div class="col-10">
                            <input type="text" 
                            class="form-control" 
                            placeholder="Scrivi un messaggio"
                            v-model="inputValue"
                            @keyup.enter="newMessage()"
                            >
                        </div>

                        <div class="col-1">
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                    </div>

                </div>
                

            </div>
        </div>
    </div>

    <!-- Script js link-->
    <script src="js/script.js"></script>

</body>
</html>